.first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 50%; */
}

.countrydata{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.countrydata p{
    font-size: 1.5rem;
    margin-left: 0;
}
span{
    color: red;
    margin-left: 1rem;
}